extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| #{projectName}
block body
	body
		include partials/header
		main.site-main
			section.section.bg-bluedark.elem-bg
				img(data-src=`${temp}hero-home-2.jpg`, alt="").img-desktop.img-to-bg
				.container
					.row
						.col-xs-12.col-sm-12.col-md-7
							article.article.text-sm-dark
								h2.article_title Estás en Gob.cl
								p Tu guía para acceder de manera simple y rápida a información del Gobierno de Chile.
								.search-form.search-form--large#searchHero
									.search-form_content
										input(type="search" placeholder="Escribe aquí lo que quieres buscar").search-form_input.toggle-search
										button(type="submit").search-form_button.search-form_button--submit: i.ic-search
										button(type="button").search-form_button.search-form_button--cancel: i.ic-delete
			section.section.section--medium.bg-bluedark.hidden-xs
				.container
					ul.list-ib
						li Lo más buscado:
						li: a(href="#").link.link--clean Subsidio habitacional
						li: a(href="#").link.link--clean Bono por hijo
						li: a(href="#").link.link--clean Gratuidad
						li: a(href="#").link.link--clean Cuenta pública

			section.section
				.container
					article.card-new
						h2.card-new_title Trámites y beneficios
						p.card-new_text Conoce cuales son las instrucciones relacionadas con ras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
						a(href="#").card-new_more.hidden-lg Más información
					.row
						.col-xs-12.col-sm-12.col-md-4
							.overflowed-xs
								a(href="#").link.link--text-dark.link--has-dot Certificación de convertidores catalíticos de reposición
						.col-xs-12.col-sm-12.col-md-4
							.overflowed-xs
								a(href="#").link.link--text-dark Concurso para inscribir nuevos taxis
						.col-xs-12.col-sm-12.col-md-4
							.overflowed-xs
								a(href="#").link.link--text-dark Certificación de vehículos a gas
					.clearfix
						a(href="#").more.more--right Ver más
					
					//- article.card-new
						h2.card-new_title Noticias y avances
						p.card-new_text Conoce cuales son las instrucciones relacionadas con ras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
						a(href="#").card-new_more Más información
			
			section.section
				.container
					h2.title Noticias
					.row
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") Transportes renueva bus de servicio subsidiado que beneficia a 500 personas de localidades apartadas de Lanco
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") Ministra de MTT participa en lanzamiento de primer concurso literario para trabajadores del Transantiago y Metro
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") #SiManejasNoChatees: la campaña que busca que los conductores dejen el celular mientras conducen
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") #SiManejasNoChatees: la campaña que busca que los conductores dejen el celular mientras conducen
					.clearfix
						a(href="#").more.more--right Ver más
			section.section
				.container
					.row
						.col-xs-12.col-sm-4.col-md-6
							.card-new
								h2.card-new_title Instituciones
								p.card-new_text Conoce cuales son las instrucciones relacionadas con ras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
								a(href="#").card-new_more Más información
						.col-xs-12.col-sm-4.col-md-6
							.card-new
								h2.card-new_title Acerca de Chile
								p.card-new_text Conoce cuales son las instrucciones relacionadas con ras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
								a(href="#").card-new_more Más información
					
					
					
					
					
				//- 
					.card-small
						h5.card-small_title Conoce Chile
						.card-small_body
							p.card-small_text Bajada ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

					.card-small
						h5.card-small_title Conoce Chile
						.card-small_body
							p.card-small_text Bajada ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		include partials/search
		include partials/footer
		include partials/scripts