extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body

		-var hasSearch = false;
		include partials/header

		main.site-main
			section.section.bg-bluedark.elem-bg
				img(data-src=`${temp}hero-home.jpg`, alt="").img-desktop.img-to-bg
				.container
					.row
						.col-xs-12.col-sm-12.col-md-7
							article.article.article--dark.text-light
								h2.article_title.title--light Estás en Gob.cl
								p Tu guía para acceder de manera simple y rápida a información del Gobierno de Chile.
								.search-form.search-form--large
									input(type="search" placeholder="Escribe aquí lo que deseas buscar").search-form_input.active-search
									button(type="submit").search-form_button.search-form_button--submit: i.icon-search
									button(type="button").search-form_button.search-form_button--cancel: i.icon-delete
			section.section.section--medium.bg-bluedark.hidden-xs
				.container
					ul.list-ib
						li Lo más buscado:
						li: a(href="#").link.link--clean Subsidio habitacional
						li: a(href="#").link.link--clean Bono por hijo
						li: a(href="#").link.link--clean Gratuidad
						li: a(href="#").link.link--clean Cuenta pública

			section.section
				.container
					.row
						.col-xs-12.col-sm-12.col-md-8.col-lg-6
							article.card-new
								h2.heading-medium Trámites y beneficios
								p Conoce cuales son las instrucciones relacionadas con ras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
								a(href="#").card-new_more.hidden-lg Más información
							article.card-new.visible-xs-block
								h2.heading-medium Noticias
								p Entérate de nuestras propuestas para mejorar el país y revisa como avanzan. 
								a(href="#").card-new_more.hidden-lg Más información
							article.card-new.visible-xs-block
								h2.heading-medium Instituciones
								p Conoce los principales órganos que conforman la administración del Estado.
								a(href="#").card-new_more.hidden-lg Más información
					.row.hidden-xs
						.col-xs-12.col-sm-12.col-md-4
							.overflowed-xs
								a(href="#").link.link--text-dark.link--has-dot-red Certificación de convertidores catalíticos de reposición
								a(href="#").link.link--text-dark Concurso para inscribir nuevos taxis
								a(href="#").link.link--text-dark Certificación de vehículos a gas
						.col-xs-12.col-sm-12.col-md-4
							.overflowed-xs
								a(href="#").link.link--text-dark.link--has-dot-red Certificación de convertidores catalíticos de reposición
								a(href="#").link.link--text-dark Concurso para inscribir nuevos taxis
								a(href="#").link.link--text-dark Certificación de vehículos a gas
						.col-xs-12.col-sm-12.col-md-4
							.overflowed-xs
								a(href="#").link.link--text-dark.link--has-dot-red Certificación de convertidores catalíticos de reposición
								a(href="#").link.link--text-dark Concurso para inscribir nuevos taxis
								a(href="#").link.link--text-dark Certificación de vehículos a gas
					.clearfix
						a(href="#").more.more--right Ver más
					//- article.card-new
						h2.card-new_title Noticias y avances
						p.card-new_text Conoce cuales son las instrucciones relacionadas con ras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
						a(href="#").card-new_more Más información
			
									
									

			section.section.hidden-xs
				.container
					h2.heading-medium Noticias
					.row
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								//- span.new_category Seguridad
								time.new_date 10 AGO 2017
								h2.new_title: a(href="#") Transportes renueva bus de servicio subsidiado que beneficia a 500 personas de localidades apartadas de Lanco
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								//- span.new_category Seguridad
								time.new_date 10 AGO 2017
								h2.new_title: a(href="#") Presidenta Bachelet firmó Proyecto de Ley de Migraciones
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								//- span.new_category Seguridad
								time.new_date 10 AGO 2017
								h2.new_title: a(href="#") Presidenta conmemoró el Día de la Solidaridad
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								//- span.new_category Seguridad
								time.new_date 10 AGO 2017
								h2.new_title: a(href="#") Mandataria: “La relación de Chile con Estados Unidos es estratégica tanto a nivel político como económico”
					.clearfix
						a(href="#").more.more--right Ver más
			
			section.section--medium.hidden-xs
				.container
					.row
						.col-xs-12.col-sm-12.col-md-6
							h2.heading-medium Instituciones
							p Conoce cuales son las instituciones relacionadas con ras finibus ligula ac mi condiment facilisis. Cras finibus ligula.
						.col-xs-12.col-sm-12.col-md-6
							.row
								.table-sm-row
									.col-sm-4
										h2.heading-medium
											| Presidencia
											br
											span.heading-sub de la República
									.col-sm-4
										div.card-data
											h3.card-data_title
												span 23 
												small Ministros
									.col-sm-4
										div.card-data
											h3.card-data_title
												span 15 
												small Regiones
							.row
								.col-xs-12.col-sm-12.text-xs-right
									a(href="#").more.more--right Ver más
	
			section.section.nopadding
				.container
					.card-small.visible-xs-block
						h5.card-small_title
							a(href="#").card-small_link
								| Acerca de Chile
								i.icon-arrow-right-black.icon--right
						.card-small_body
							p Información para turistas, migrantes y quienes quieran estudiar o hacer negocios en Chile. 
					
					.row.hidden-xs.hidden-sm
						.table-sm-row
							.col-sm-6.background-image-expand
								div.background-image-expand_bg.background-image-expand_bg--left
								img(src=`${temp}acerca-de.jpg`, alt="").img-to-bg
							.col-sm-6
								.article-section
									h5.heading-medium Acerca de Chile
									p Información para turistas, migrantes y quienes quieran estudiar o hacer negocios en Chile.
									br
									a(href="#").button.button--clean.button--more Ver más

		include partials/search
		include partials/footer
	include partials/scripts
		//- script(src="js/page.js" type="text/javascript")

