extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| #{projectName}
block cssPage
	//- link(rel='stylesheet', href='css/page.css')
block body
	body
		-var hasSearch = true;
		include partials/header

		main.site-main
			section.section--big.bg-bluedark
				.container
					.row
						.table-md-row
							.col-xs-12.col-sm-12.col-md-7
								article.text-light
									h2.heading-large Ministerio de Transportes y Telecomunicaciones
									p El Ministerio de Transportes y Telecomunicaciones fue creado mediante el Decreto Ley Nº 557, publicado en el Diario Oficial el 10 de julio de 1974.
									p Tiene como principales funciones proponer las políticas nacionales en materias de transportes y telecomunicaciones, de acuerdo a las directrices del Gobierno y ejercer la dirección y control de su puesta en práctica; supervisar las empresas públicas y privadas que operen medios de transportes y comunicaciones en el país, y coordinar y promover el desarrollo de estas actividades y controlar el cumplimiento de las leyes, reglamentos y normas pertinentes.
									p El Ministerio está integrado por la Subsecretaría de Transportes, la Subsecretaría de Telecomunicaciones y la Junta Aeronáutica Civil (JAC). Adicionalmente, el Ministerio sirve de vínculo con el Gobierno a empresas autónomas como Ferrocarriles del Estado, Metro S.A., Correos de Chile y las 10 empresas portuarias creadas a partir de la filialización de Emporchi.
							.col-xs-12.col-sm-12.col-md-1
							.col-xs-12.col-sm-12.col-md-4.bottom
								.overflowed-xs
									a(href="#").button.button--block Instituciones relacionadas

			section.section
				.container
					h2.heading-medium Trámites y beneficios
					.row
						.col-xs-12.col-sm-12.col-md-4
							.overflowed-xs
								a(href="#").link.link--text-dark.link--has-dot-red Certificación de convertidores catalíticos de reposición
								a(href="#").link.link--text-dark Concurso para inscribir nuevos taxis
								a(href="#").link.link--text-dark Certificación de vehículos a gas
						.col-xs-12.col-sm-12.col-md-4.hidden-xs
							.overflowed-xs
								a(href="#").link.link--text-dark.link--has-dot-red Certificación de convertidores catalíticos de reposición
								a(href="#").link.link--text-dark Concurso para inscribir nuevos taxis
								a(href="#").link.link--text-dark Certificación de vehículos a gas
						.col-xs-12.col-sm-12.col-md-4.hidden-xs
							.overflowed-xs
								a(href="#").link.link--text-dark.link--has-dot-red Certificación de convertidores catalíticos de reposición
								a(href="#").link.link--text-dark Concurso para inscribir nuevos taxis
								a(href="#").link.link--text-dark Certificación de vehículos a gas
					.clearfix
						a(href="#").more.more--right Ver más
			section.section
				.container
					h2.heading-medium Noticias
					.row
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") Transportes renueva bus de servicio subsidiado que beneficia a 500 personas de localidades apartadas de Lanco
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") Ministra de MTT participa en lanzamiento de primer concurso literario para trabajadores del Transantiago y Metro
						.col-xs-12.col-sm-12.col-md-6
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") #SiManejasNoChatees: la campaña que busca que los conductores dejen el celular mientras conducen
						.col-xs-12.col-sm-12.col-md-6.hidden-xs
							article.new.new--has-thumbnail-sm
								figure.new_figure
									img(data-src=`${temp}new-1.jpg` alt="").img-desktop.img-responsive
								span.new_category Seguridad
								h2.new_title: a(href="#") #SiManejasNoChatees: la campaña que busca que los conductores dejen el celular mientras conducen

					.clearfix
						a(href="#").more.more--right Ver más
			
			section.bg-light
				.container
					.row
						.table-md-row
							.col-xs-12.col-md-8
								.profile
									.profile_header
										h3.profile_title Paola Tapia Salas
										span.profile_job Ministra de Transportes y Telecomunicaciones
									
									.profile_body
										div.profile_image
											img(src=`${temp}paola-tapia.png`, alt="").img-responsive
											
										p Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras finibus ligula ac mi condiment facilisis. Cras finibus ligula ac condimentum facilisis. 
										
										ul.profile_info
											li: a(href="#").profile_twitter @paolatapiasalas
											li: span Teléfono: (56-6) 1234-5678 
											li: span Correo electrónico: info@gob.cl
							.col-xs-12.col-md-4.bottom
								.profile_buttons.overflowed-xs
									a(href="#").button.button--block Ir al sitio del Ministerio
			
			section.hidden-xs
				.container
					h3.heading-label Contenido relacionado
					.row
						.col-xs-12.col-md-4
							.card-small
								h5.card-small_title
									a(href="#").card-small_link
										| Conoce Chile
										i.icon-arrow-right-black.icon--right
								.card-small_body
									p.card-small_text Bajada ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.col-xs-12.col-md-4
							.card-small
								h5.card-small_title
									a(href="#").card-small_link
										| Conoce Chile
										i.icon-arrow-right-black.icon--right
								.card-small_body
									p.card-small_text Bajada ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.col-xs-12.col-md-4
							.card-small
								h5.card-small_title
									a(href="#").card-small_link
										| Conoce Chile
										i.icon-arrow-right-black.icon--right
								.card-small_body
									p.card-small_text Bajada ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		include partials/search
		include partials/footer
	include partials/scripts