extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Noticia | #{projectName}
block body
	body
		include partials/header
		include partials/lightbox
		main.site-main
			section.section
				.container
					.row
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.col-lg-4.col-lg-offset-8
							.hidden-xs.hidden-sm
								-var toolbarDark = true
								include partials/toolbar
						.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
							article.main-post
								time.main-post_date 11 AGO 2017
								h1.main-post_title Presidenta en el inicio de la Campaña de Vacunación contra el Virus Papiloma Humano: “Esta una vacuna necesaria y segura”
								h2.main-post_subtitle Es el momento de emprender este cambio, de dar un nuevo paso que permita ampliar la protección y las garantías para nuestros compatriotas”, dijo la Presidenta Michelle Bachelet.
								
								.post-video
									.post-video_wrapper
										a(href="#").post-video_play: i.icon-play-video
										img(src=`${temp}new-hero.jpg`, alt="").article-hero_img.img-responsive
									p.post-video_text 2017-11-10  Ministerio de Vivienda y Urbanismo (MINVU)
								
								ul.main-post_social
									li: p Comparte esta noticia a través de tus redes sociales
									li: a(href="#"): i.ic-messenger
									li: a(href="#"): i.ic-facebook
									li: a(href="#"): i.ic-twitter

								p “Es el momento de emprender este cambio, de dar un nuevo paso que permita ampliar la protección y las garantías para nuestros compatriotas”, dijo la Presidenta Michelle Bachelet.
								p La Mandataria, Michelle Bachelet, junto a la ministra de Salud, Carmen Castillo, inició en el Colegio Poeta Vicente Huidobro, de la comuna de Lo Prado, la Campaña de Vacunación contra el Virus Papiloma Humano (VPH). Este año se contempla la administración de 234.872 dosis para niñas de 4° básico (primera dosis) y 5° básico (segunda dosis). Desde 2014, se han administrado 855.000 dosis de la vacuna en la población escolar: “Estamos contentos porque ya hemos cumplido una primera etapa y ya entramos en régimen con esta vacuna. ¿Qué quiere decir esto? Que, a partir de ahora, cada año se vacunará a las alumnas de 4° y 5° básico para asegurar que reciban las dos dosis que se requieren para prevenir.
								blockquote
									p Luego, hizo un llamado a la ciudadanía a ser responsables con la salud personal en el que destacó “lo importante es vacunarse para la protección de la salud futura de estas niñas, y pedimos también a los medios que informen, que puedan transmitir a los papás y mamás la certeza de que esta es una vacuna necesaria y es una vacuna segura.
									span Loreim Ipsum

								.post-gallery
									a(href=`${temp}gallery-1-large.jpg`).post-gallery_item
										img(src=`${temp}gallery-1.jpg`, alt="").img-responsive
									.row
										.col-xs-6.col-sm-3.col-md-3
											a(href=`${temp}gallery-2-large.jpg`).post-gallery_item
												img(src=`${temp}gallery-2.jpg`, alt="").img-responsive
										.col-xs-6.col-sm-3.col-md-3
											a(href=`${temp}gallery-3-large.jpg`).post-gallery_item
												img(src=`${temp}gallery-3.jpg`, alt="").img-responsive
										.col-xs-6.col-sm-3.col-md-3
											a(href=`${temp}gallery-3-large.jpg`).post-gallery_item
												img(src=`${temp}gallery-5.jpg`, alt="").img-responsive
										.col-xs-6.col-sm-3.col-md-3
											a(href=`${temp}gallery-4-large.jpg`).post-gallery_item
												span.post-gallery_more
													span +10
												img(src=`${temp}gallery-4.jpg`, alt="").img-responsive

								p
									| Once dismissed as a figurehead, Kim Jong-un, at only 33, is emerging as a powerful leader and a nuclear threat. 
									i Fue a una sucursal
								
								p La Mandataria, Michelle Bachelet, junto a la ministra de Salud, Carmen Castillo, inició en el Colegio Poeta Vicente Huidobro, de la comuna de Lo Prado, la Campaña de Vacunación contra el Virus Papiloma Humano (VPH). Este año se contempla la administración de 234.872 dosis para niñas de 4° básico (primera dosis) y 5° básico (segunda dosis). Desde 2014, se han administrado 855.000 dosis de la vacuna en la población escolar: “Estamos contentos porque ya hemos cumplido una primera etapa y ya entramos en régimen con esta vacuna. ¿Qué quiere decir esto? Que, a partir de ahora, cada año se vacunará a las alumnas de 4° y 5° básico para asegurar que reciban las dos dosis que se requieren para prevenir.

								.post-audio
									a(href="#").post-audio_button: i.ic-volume.post-audio_icon
									p.post-audio_title Michelle Bachelet: las garantías para nuestros compatriotas I
									.post-audio_time 5:35
									a(href="#").post-audio_download: i.ic-download

								.post-audio.active
									a(href="#").post-audio_button: i.ic-play.post-audio_icon
									p.post-audio_title Michelle Bachelet: las garantías para nuestros compatriotas II
									.post-audio_timeline
									.post-audio_time 8:00
									a(href="#").post-audio_download: i.ic-download

								.post-audio
									a(href="#").post-audio_button: i.ic-volume.post-audio_icon
									p.post-audio_title Michelle Bachelet: las garantías para nuestros compatriotas III
									.post-audio_time 7:59
									a(href="#").post-audio_download: i.ic-download
								
								div
									a(href="#")
										| Descargar todos los archivos de audio original
										i.ic-download


			section
				.container
					.row
						.col-xs-12
							h3.heading-medium Noticias relacionadas
						.col-xs-12.col-md-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-3.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link Chile Crece Contigo tiene nuevo ajuar para todo recién nacido en el sistema público de salud
						.col-xs-12.col-md-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-5.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link Las 10 plantas solares más grandes de Chile
						.col-xs-12.col-md-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-9.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link Mandataria: “La relación de Chile con Estados Unidos es estratégica tanto a nivel político como económico”
						.col-xs-12.col-md-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-4.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link Nuevo Sistema de Ahorro Colectivo mejorará las pensiones de los chilenos
						.col-xs-12.col-md-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-5.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link Las 10 plantas solares más grandes de Chile
						.col-xs-12.col-md-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-6.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link Hasta el 19 de noviembre estará disponible el formulario FUAS para acceder a la Gratuidad y a los Beneficios Estudiantiles 2018
					
					//- .row
						.col-sm-6.col-md-4
							.featured-card.has-icon
								.featured-card_figure.elem-bg
									img(src=`${temp}card.jpg`, alt="").card_image.img-to-bg
								.featured-card_body
									time.featured-card_date 11 AGO 2017
									h2.featured-card_title The quick brown fox excepteur sint occaecat cupidatat non proident.

			section
				.container
					include partials/social
		include partials/search
		include partials/footer
		include partials/scripts