extends partials/docwrapper
block langPage
	meta(name="language", content="es")
block titlePage 
	| Noticias | #{projectName}
block body
	body
		include partials/header
		main.site-main
			section.section.nopadding.bg-bluedark
				//- h1.article_title.title--light Noticias
				.container
					article.article-hero.article--dark.text-light
						//- span.article_category trámites y beneficios
						.row
							.col-xs-12.col-sm-12.col-md-6.col-lg-4.pull-sm-right
								include partials/toolbar
							.col-xs-12.col-sm-12.col-md-6.col-lg-8
								h1.heading-large Noticias
							
						.row
							.col-xs-12.col-sm-12.col-md-6.col-lg-5
								img(src=`${temp}new-hero.jpg`, alt="").article-hero_img.img-responsive
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								time.article-hero_date 11 AGO 2017
								h2.article-hero_main-title
									a(href="noticia.html") Jefa de Estado firmó Proyectos de Ley que crean un nuevo ahorro colectivo en el marco de la Reforma al Sistema de Pensiones

								p “Es el momento de emprender este cambio, de dar un nuevo paso que permita ampliar la protección y las garantías para nuestros compatriotas”, dijo la Presidenta Michelle Bachelet.
								a(href="noticia.html").text-red Ver noticia completa
			
			section.section
				.container
					h2.heading-label Filtrar por Temas:
					.tags.overflowed-xs
						.tags_content
							.tags_item: a(href="#").ctag.ctag--light Todas
							.tags_item: a(href="#").ctag.ctag--light Salud
							.tags_item: a(href="#").ctag.ctag--light Seguridad
							.tags_item: a(href="#").ctag.ctag--light Economía y empleo
							.tags_item: a(href="#").ctag.ctag--light Calidad de vida y ciudad
					
					.row
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-3.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Chile Crece Contigo tiene nuevo ajuar para todo recién nacido en el sistema público de salud
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-3.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Chile Crece Contigo tiene nuevo ajuar para todo recién nacido en el sistema público de salud
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-5.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Las 10 plantas solares más grandes de Chile
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-5.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Las 10 plantas solares más grandes de Chile
						.col-xs-12.col-sm-12.col-md-6.col-lg-6
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-4.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Nuevo Sistema de Ahorro Colectivo mejorará las pensiones de los chilenos
						.col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-4.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Nuevo Sistema de Ahorro Colectivo mejorará las pensiones de los chilenos
						.col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-6.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Hasta el 19 de noviembre estará disponible el formulario FUAS para acceder a la Gratuidad y a los Beneficios Estudiantiles 2018
						.col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-6.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Hasta el 19 de noviembre estará disponible el formulario FUAS para acceder a la Gratuidad y a los Beneficios Estudiantiles 2018
						.col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-3.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Chile Crece Contigo tiene nuevo ajuar para todo recién nacido en el sistema público de salud
						.col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-3.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Chile Crece Contigo tiene nuevo ajuar para todo recién nacido en el sistema público de salud
						.col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-4.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Nuevo Sistema de Ahorro Colectivo mejorará las pensiones de los chilenos
						.col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs
							article.new.new--mobile
								time.new_date 11 AGO 2017 
								figure.new_figure-mobile
									img(src=`${temp}new-4.jpg` alt="").img-responsive
								h2.new_title: a(href="noticia.html").link.link--text-dark.visited Nuevo Sistema de Ahorro Colectivo mejorará las pensiones de los chilenos

						.col-xs-12.col-sm-12.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.hidden-xs.text-xs-center.text-sm-center
							br
							a(href="#").button.button--block Cargar más
			section
				.container
					include partials/social
		include partials/search
		include partials/footer
		include partials/scripts